<div class="uiHelp hasBorderShadow">
	<div class="heading">
		<div class="heading-text">help</div>
	</div>
	<div class="content">
		<div class="row">
			<div class="topic">Movement</div>
			<div class="desc">WASD / Arrow Keys</div>
		</div>
		<div class="row">
			<div class="topic">Cancel Movement</div>
			<div class="desc">Hotkey: [escape]</div>
		</div>
		<div class="row">
			<div class="topic">Combat</div>
			<div class="desc">Click on an enemy and press [space] to enable auto-attack</div>
		</div>
		<div class="row">
			<div class="topic">Chat</div>
			<div class="desc">Press [enter] to open the Chat Window</div>
		</div>
		<div class="row">
			<div class="topic">Inventory</div>
			<div class="desc">Press [i] to open your Inventory</div>
		</div>
		<div class="row">
			<div class="topic">Equipment</div>
			<div class="desc">Right click an item in your inventory to equip it or press [j] for the Equipment Panel</div>
		</div>
		<div class="row">
			<div class="topic">Stats</div>
			<div class="desc">Owl Spirits need Int to deal more damage. Lynxes need Dex and Bears need Str</div>
		</div>
		<div class="row">
			<div class="topic">Show Nameplates</div>
			<div class="desc">Hotkey: [v]</div>
		</div>
		<div class="row">
			<div class="topic">Who's Online</div>
			<div class="desc">Hotkey: [O]</div>
		</div>
		<div class="row mobile">
			<div class="topic">Movement</div>
			<div class="desc">Touch and drag</div>
		</div>
		<div class="row mobile">
			<div class="topic">Cancel Movement</div>
			<div class="desc">Shake</div>
		</div>
		<div class="row mobile">
			<div class="topic">Combat</div>
			<div class="desc">Select an enemy then tap a spell or double-tap a spell</div>
		</div>
		<div class="row mobile">
			<div class="topic">Chat</div>
			<div class="desc">Click the chat icon in the top right corner</div>
		</div>
		<div class="row mobile">
			<div class="topic">Menu</div>
			<div class="desc">Access the menu from the top-right button. This gives access to your inventory, equipment, online list and more</div>
		</div>
		<div class="row mobile">
			<div class="topic">Interact</div>
			<div class="desc">Tap the hand icon to interact with objects like doors, crafting stations and your stash</div>
		</div>
		<div class="row mobile">
			<div class="topic">Stats</div>
			<div class="desc">Owl Spirits need Int to deal more damage. Lynxes need Dex and Bears need Str</div>
		</div>
	</div>
</div>
